<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.jpt.knowledge-curator</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/jesse/jpt/lib/knowledge_curator.py</string>
        <string>run</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Users/jesse/Library/pnpm:/Users/jesse/.local/bin</string>
        <key>HOME</key>
        <string>/Users/jesse</string>
    </dict>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>2</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>RunAtLoad</key>
    <false/>
    <key>StandardOutPath</key>
    <string>/Users/jesse/jpt/lib/.curator.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/jesse/jpt/lib/.curator.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/jesse/jpt</string>
</dict>
</plist>
